<div class="reset-password-container">
    <h2>Actualizar Contraseña</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()" class="reset-password-form">
      <div class="input-container">
        <mat-form-field>
          <input matInput type="password" placeholder="Nueva Contraseña" formControlName="newPassword" required>
          <mat-error *ngIf="resetPasswordForm.get('newPassword')?.invalid">
            La contraseña es requerida.
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid">
        Actualizar Contraseña
      </button>
      <button mat-icon-button color="warn" class="cancel-button" (click)="cancel()">
        <mat-icon>close</mat-icon>
      </button>
    </form>
  </div>
  