<div class="productos-container">
    <h1 class="titulo">Descubre nuestros menús</h1>
    <div class="carousel">
        <div class="card" (click)="navegar('/homePedidos/menu-hamburguesas')">
            <img src="../../assets/img/1.png" alt="Hamburguesas">
            <h3>Hamburguesas</h3>
        </div>
        <div class="card" (click)="navegar('/homePedidos/menu-complementos')">
            <img src="../../assets/img/2.png" alt="Complementos">
            <h3>Complementos</h3>
        </div>
        <div class="card" (click)="navegar('/homePedidos/menu-postres')">
            <img src="../../assets/img/3.png" alt="Postres">
            <h3>Postres</h3>
        </div>
    </div>
    <h1 class="novedades-titulo">Nuestras novedades</h1>
    <div class="novedades-card">
        <div class="card" (click)="navegar('/homePedidos/menu-novedades')" style="flex-basis: calc(100% - 20px);">
            <img src="../../assets/img/mostaza.jpg" alt="Novedades">
        </div>
    </div>
</div>
