<mat-toolbar class="transparent-toolbar">
  <button mat-button routerLink="/homeUser" *ngIf="isLoggedIn">
    Home
  </button>
  <button mat-button *ngIf="isLoggedIn" [matMenuTriggerFor]="usuariosMenu">
    Gestionar Usuarios <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <button mat-button routerLink="/homePedidos/home-pedidos-menu" *ngIf="isLoggedIn">
    Home Pedidos
  </button>
  <button mat-button routerLink="/componente3" *ngIf="isLoggedIn">
    Componente 3
  </button>

  <span class="example-spacer"></span>

  <button mat-button *ngIf="isLoggedIn" [matMenuTriggerFor]="userMenu">
    {{ username }} <mat-icon>arrow_drop_down</mat-icon>
  </button>


  <button mat-button (click)="onLoginButtonClick()" *ngIf="!isLoggedIn">
    Iniciar sesión
  </button>
</mat-toolbar>

<div class="background-image">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Menú desplegable para el perfil del usuario -->
<mat-menu #userMenu="matMenu" [@menuAnimation]="isLoggedIn ? 'visible' : 'hidden'">
  <button mat-menu-item *ngIf="userProfileImage" (click)="viewProfile()">
    <img [src]="userProfileImage" alt="User profile" class="profile-image">
    <strong> Ver Usuario</strong>
  </button>
  <button mat-menu-item *ngIf="!userProfileImage" (click)="viewProfile()">
    <strong>{{ username }}</strong>
  </button>
  <button mat-menu-item (click)="logout()">Cerrar sesión</button>
</mat-menu>

 <!-- Menú desplegable para las herramientas de usuarios -->
 <mat-menu #usuariosMenu="matMenu">
  <button mat-menu-item routerLink="/listar-usuarios">
    Listar Usuarios
  </button>
  <button mat-menu-item routerLink="/agregar-usuario">
    Agregar Usuario
  </button>
</mat-menu>