<mat-toolbar class="transparent-toolbar">
  <button mat-button routerLink="/homeUser" *ngIf="isLoggedIn && isHomeComponent">
    Home
  </button>
  <button mat-button routerLink="/componente1" *ngIf="isLoggedIn && isHomeComponent">
    Componente 1
  </button>
  <button mat-button routerLink="/componente2" *ngIf="isLoggedIn && isHomeComponent">
    Componente 2
  </button>
  <button mat-button routerLink="/componente3" *ngIf="isLoggedIn && isHomeComponent">
    Componente 3
  </button>

  <span class="example-spacer"></span>

  <!-- Botón para el menú desplegable del usuario -->
  <button mat-button *ngIf="isLoggedIn && isHomeComponent" [matMenuTriggerFor]="userMenu">
    {{ isLoggedIn ? username : '' }} <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <!-- Botón de inicio de sesión -->
  <button mat-button (click)="onLoginButtonClick()" *ngIf="!isLoggedIn && !isHomeComponent">
    Iniciar sesión
  </button>
</mat-toolbar>

<div class="background-image">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Menú desplegable para el perfil del usuario -->
<mat-menu #userMenu="matMenu" [@menuAnimation]="isLoggedIn && isHomeComponent ? 'visible' : 'hidden'">
  <button mat-menu-item (click)="viewProfile()">
    <img *ngIf="userProfileImage" [src]="userProfileImage" alt="User profile" class="profile-image">
    <strong> Ver Usuario</strong>
  </button>
  <button mat-menu-item (click)="logout()">Cerrar sesión</button>
</mat-menu>
