<mat-dialog-content [formGroup]="formularioPedido" class="form-content">
  <h2 mat-dialog-title>Confirmar Pedido</h2>
  <div *ngIf="!numeroDocumento">
    <div class="form-field">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Nombre completo:</mat-label>
        <input matInput formControlName="nombreCliente">
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="productosSeleccionados.length > 0">
    <ul>
      <li *ngFor="let producto of productosSeleccionados">
        {{ producto.producto.nombre }} - {{ producto.cantidad }} unidades
      </li>
    </ul>
    <p>Total: {{ total }}</p>
  </div>
  <div *ngIf="productosSeleccionados.length === 0">
    <p>No hay productos en el carrito</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onConfirmar()">Confirmar Pedido</button>
</mat-dialog-actions>
