/* Estilo para los botones de filtro */
.filter-buttons {
  margin-bottom: 10px; 
  display: flex;
  justify-content: flex-end; 
}

.filter-buttons button {
  
  color: white; 
  margin-left: 10px; 
  border: 3px solid #f0f0f0; 
  border-radius: 5px; 
}

.filter-buttons button:hover {
  background-color: #ac08ac; 
  border: 1px solid #7e0c64;
}

/* Añade una nueva clase para el estado seleccionado */
.filter-buttons button.selected {
  background-color: #ac08ac; 
  border: 1px solid #7e0c64;
}

mat-label{
  width: 100px;
  text-align: end;
}
.email-column {
  width: 500px;   
}

.filter-container{
  display: flex;
  align-items: center;
  justify-content:center; 
  margin-bottom: 15px;
}
.custom-table{
  /*añadir borde y sombreado a la tabla*/
  background-color: #eeeeee92; 
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}


.mat-paginator  {
  margin-top: 20px; 
  background-color: #eeeeee92; 
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

