<div class="forgot-password-container">
    <h2>¿Olvidaste tu contraseña?</h2>
    <form (ngSubmit)="submit()">
      <div class="input-container">
        <mat-form-field>
          <input matInput placeholder="Correo electrónico" name="email" [formControl]="emailFormControl" required email>
          <mat-error *ngIf="emailFormControl.invalid">Correo electrónico inválido</mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="emailFormControl.invalid">Enviar solicitud</button>
    </form>
    <button mat-icon-button color="warn" class="cancel-button" (click)="cancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  